html,
body {
    background-color: #0f242b;
}

.main-search-input {
    background: #fff;
    padding: 0 120px 0 0;
    border-radius: 1px;
    margin-top: 15%;
    box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.3);
}

.fl-wrap {
    float: left;
    width: 100%;
    position: relative;
}

.main-search-input:before {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 50px;
    height: 1px;
    background: rgba(255, 255, 255, 0.41);
    left: 50%;
    margin-left: -25px;
}

.main-search-input-item {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    height: 50px;
    position: relative;
}

.main-search-input-item input:first-child {
    border-radius: 100%;
}

.main-search-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
}

.main-search-button {
    background: #4DB7FE;
}

.main-search-button {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 120px;
    color: #fff;
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}

.main-search-input-wrap {
    max-width: 500px;
    margin: 20px auto;
    position: relative;
}

 :focus {
    outline: 0;
}

.advance-filter-input-wrap {
    border-radius: 5px;
    margin-top: 15%;
    position: absolute;
    left: 35%;
}

.filter-title {
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 12%;
    position: absolute;
    left: 45%;
}

.main-stat-content-wrap {
    border-radius: 5px;
    font-size: 14px;
    margin-top: 20%;
    position: absolute;
    left: 15%;
}

.main-stat-content-wrap .table-dark td,
.main-stat-content-wrap .table-dark th,
.main-stat-content-wrap.table-dark thead th {
    border-color: #454d55;
    padding: 10px 60px 10px 10px;
}

.main-search-content-wrap {
    border-radius: 5px;
    margin-top: 35%;
    position: absolute;
    left: 18%;
}

.table-dark td,
.table-dark th,
.table-dark thead th {
    border-color: #454d55;
    padding: 10px 80px 10px 10px;
}

@media only screen and (max-width: 768px) {
    .main-search-input {
        background: rgba(255, 255, 255, 0.2);
        padding: 14px 20px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.0);
    }
    .main-search-input-item {
        width: 100%;
        border: 1px solid #eee;
        height: 50px;
        border: none;
        margin-bottom: 10px;
    }
    .main-search-input-item input {
        border-radius: 6px !important;
        background: #fff;
    }
    .main-search-button {
        position: relative;
        float: left;
        width: 100%;
        border-radius: 6px;
    }
    .advance-filter-input-wrap {
        border-radius: 5px;
        margin-top: 35%;
        position: absolute;
        left: 22%;
        font-size: 10px;
    }
    .filter-title {
        color: white;
        font-weight: bold;
        font-size: 12px;
        border-radius: 5px;
        margin-top: 32%;
        position: absolute;
        left: 43%;
    }
    .main-stat-content-wrap {
        border-radius: 5px;
        margin-top: 45%;
        position: absolute;
        left: 7%;
        font-size: 10px;
    }
    .main-stat-content-wrap .table-dark td,
    .main-stat-content-wrap .table-dark th,
    .main-stat-content-wrap.table-dark thead th {
        border-color: #454d55;
        padding: 10px 18px 10px 10px;
    }
    .main-search-content-wrap {
        border-radius: 5px;
        margin-top: 70%;
        position: absolute;
        left: 22%;
        font-size: 10px;
    }
    .table-dark td,
    .table-dark th,
    .table-dark thead th {
        border-color: #454d55;
        padding: 10px 20px 10px 10px;
    }
}